<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.educationmanagementsystem.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.educationmanagementsystem.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="usertype" column="usertype" jdbcType="VARCHAR"/>
            <result property="affiliateId" column="affiliate_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,usertype, affiliate_id
    </sql>
    <select id="findOneByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="findOneByTypeAid" resultType="com.example.educationmanagementsystem.domain.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        usertype = #{usertype,jdbcType=VARCHAR} and affiliate_id = #{affiliateId,jdbcType=VARCHAR} limit 1
    </select>
</mapper>
